<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/public/styles/modules.css" type="text/css">
    <title>search field</title>
</head>

<body>
    <header>
        <nav>
            <ul class="nav">

                <li>
                    <a href="/">home</a>
                </li>

                <li>

                    <a href="/searches/new">books</a>
                </li>
            </ul>
        </nav>
    </header>
    <h1 class="title">books details</h1>
    <img src="<%= bookChouse.image_url %>">
    <p><%= bookChouse.title %></p>
    <p><%= bookChouse.author %></p>
    <p class="text"><%= bookChouse.description %></p>
    <h2> Bookshelf: <%= bookChouse.bookshelf %> </h2>

</body>

</html>