<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/public/styles/modules.css" type="text/css">
    <title>search field</title>
</head>

<body>
    <header>
        <nav>
            <ul class="nav">

                <li>
                    <a href="/">home</a>
                </li>

                <li>

                    <a href="/searches/new">books</a>
                </li>
            </ul>
        </nav>
    </header>
    <h1 class="title">books details</h1>
    <!--from here we will make some changes for making update and delete-->
        <!--we added unordered list (ul / li ) and added a form -->
<!--
    <ul>
        <li>
-->
    <img src="<%= bookChouse.image_url %>">
    
    <p><%= bookChouse.title %></p>
    <p><%= bookChouse.author %></p>
    <p class="text"><%= bookChouse.description %></p>
    <h2> Bookshelf: <%= bookChouse.bookshelf %> </h2>
<!--adding a form
<form action="<%=`/delete/${bookChouse.id}?_method=DELETE`%>"method="POST">
    <button type="submit">Delete book</button>
    </form>
<form action="<%= `/update/${bookChouse.id}?_method=PUT` %>" method="POST">
<input name="title" type="text" value="<%= bookChouse.title %>">
<br>
<input name="author" type="text" value="<%= bookChouse.author %>">
<br>

<input name="image" type="text" value="<%= bookChouse.image_url %>">
<br>
<input name="isbn" type="text" name="" id="" value="<%= bookChouse.isbn %>">
<br>


<textarea name="description" cols="30" rows="10" ><%= bookChouse.description %></textarea>
<br>
<input name="bookshelf" type="text" value="<%= bookChouse.bookshelf %>">
<br>
<button type="submit"> Update book </button>
</form>
</li>
</ul>
-->
</body>

</html>