

<!--
<!DOCTYPE html>
<html lang="en">
    <head>

        <link rel="stylesheet" href="/public/styles/base.css" type="text/css">
        <link rel="stylesheet" href="/public/styles/modules.css" type="text/css">
        <link rel="stylesheet" href="/public/styles/layout.css" type="text/css">
    
        <title>books</title>
    </head>
<body>

        <h1 class="title">Search Result</h1>
        <ul>
            <% books.forEach(book => { %>
                <li class="continer"> 
                    <p><%= book.title %></p>
                    <img src="<%= book.imgUrl %>"> 
                    <p><%= book.authors %></p>
                     <p class="text"><%= book.desc %></p>
                </li>
            <% }) %>
        </ul>


    </body>
    </html>
    -->

    <!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/public/styles/base.css" type="text/css">
    <link rel="stylesheet" href="/public/styles/modules.css" type="text/css">
    <link rel="stylesheet" href="/public/styles/layout.css" type="text/css">
    <title>books</title>
</head>
<body>
    <header>
        <nav>
            <ul class="nav">

                <li>
                    <a href="/">home</a>
                </li>

                <li>

                    <a href="/searches/new">Search the Google API Books</a>
                </li>
            </ul>
        </nav>
    </header>
    <h1 class="title">Search Result</h1>
    <ul>
        <% books.forEach(book => { %>
            <div class="div">
        <li class="continer">
                <p><%= book.title %></p>
                <img src="<%= book.imgUrl %>">
                <p><%= book.authors %></p>
                <p class="text"><%= book.desc %></p>
                <button id="<%= book.etag %>">Select this book</a></button>
                <form id="<%= book.id %>" class="hide-me" action="/books/detail" method="POST" style="display: none;"
                    name="hidden">
    
                    <input name="title" type="text" value="<%= book.title %>">
                    <br>
                    <input name="author" type="text" value="<%= book.authors %>">
                    <br>
                    <input name="id" type="text" value="<%= book.id %>">
                    <br>
                    <input name="image" type="text" value=" <%= book.imgUrl %>">
                    <br>
                    <input name="info" type="text" value="<%= book.desc %>">
                    <br>
                    <input type="text" name="shelf" placeholder="Enter a Bookshelf Name" required>
                    <br>
                    <button type="submit" name="submit" id="DB"><a href="/books/detail"></a>add to DataBase</button>
                </form>
            </div>
           
        </li>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script>
            $('#<%= book.etag %>').click(showForm);
            function showForm() {
                $('#<%= book.id %>').toggle();
            }
        </script>
        <% }) %>
    </ul>
</body>

<script src="public/js/app.js"></script>

</html>