<!--
<!DOCTYPE html>
<html lang="en">
<head>
   
    <link rel="stylesheet" href="public/styles/modules.css" type="text/css">
    <link rel="stylesheet" href="public/styles/base.css" type="text/css">
    <link rel="stylesheet" href="public/styles/layout.css" type="text/css">

    <title>search field</title>
</head>
<body>

    <form action="/searches/show" method="POST">
        <fieldset>
            <label for="">Search by Title or Author</label> </br></br>
            Search box<input id="text" type="text"  name="input" placeholder="Enter a title or author" required="required"></br>
            <input type="radio" name="searchBy"value="title " required="required">Title <br>
            <input type="radio" name="searchBy" value="Author"   > Author <br></br>
            <input class="submit"type="submit">
        </fieldset>
            </form>
    
</body>
</html>

-->

<!DOCTYPE html>
<html lang="en">
<head>
   <link rel="stylesheet" href="/public/styles/modules.css" type="text/css">
    <title>search field</title>
</head>
<body>
    <header>
        <nav>
            <ul class="nav">

               <li>
                <a href="/">home</a>
               </li> 
               
               <li>

                   <a href="/searches/new">Search the Google API Books</a>
               </li>
            </ul>
        </nav>
    </header>
    <h1 class="title">Search Result</h1>
    <p> <%= allbooks.lenght %></p>  <!-- books = data.rows  -->
    <ul>
        <% allbooks.forEach(book => { %>
            <div class="div">
        <li class="continer">
                <p><%= book.title %></p>
                <img src="<%= book.image_url %>">
                <p><%= book.author %></p>
                <p class="text"><%= book.description %></p>
                <button><a href="/books/detail/<%= book.id %>">view Details</a></button>
            </li>
        <% }) %>
    </ul>
</body>
</html>